[Unit]
Description=ACPI Volume Daemon
ConditionPathExists=/var/run/acpid.socket
ConditionUser=!root

[Service]
ExecStart=/usr/bin/acpi-volumed

[Install]
WantedBy=default.target
