[Unit]
Description=ACPI Volume Daemon
ConditionPathExists=/var/run/acpid.socket
ConditionUser=!root

[Service]
Type=exec
EnvironmentFile=-%h/.config/acpi-volumed/acpi-volumed.conf
ExecStart=/usr/bin/acpi-volumed $ACPI_VOLUMED_OPTIONS

[Install]
WantedBy=default.target
